
header {
    width: 100%;
    height: 900px;
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -100px;
    background-size: cover;
    position: relative;

    .arrow-down {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }

    .header {
        margin-top: 5rem;
        .heading {
            color: $White;
            font-size: 3rem;
            letter-spacing: 10px;
            font-family: $ff-fraunces;
            font-weight: $fw-fraunces-900;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .navbar {
        padding: 42px 47px 42px 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            
            img {
                width: 170px;
            }
        }

        .hamburger {
            display: none;
        }

        .links {

            .link {
                display: inline-block;
                margin-right: 50px;
                color: $White;
                font-size: 22px;
                font-family: $ff-barlow;
                font-weight: $fw-barlow;
            }

            .main-btn {
                color: black;
                padding: 15px 30px;
                background-color: $White;
                border-radius: 50px;
                font-size: 18px;
                font-family: $ff-fraunces;
                font-weight: $fw-fraunces-700;
                text-transform: uppercase;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: #6fcfff;
                    color: $White;
                }
            }
        }
    }
}